<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyWavePull.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>881B85F11CA50BD0006BC4DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>881B860D1CA50BD0006BC4DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>881B86181CA50BD0006BC4DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
